BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
IndentCaseLabels: true
TabWidth: 4
UseTab: Never
ColumnLimit: 0
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 4
PointerAlignment: Right
SortIncludes: Never
